<!-- <h1>Hi Hello Welcome to Angular Demo!!!!!!!</h1>

<h3>Angular Welcome you!!!</h3>

<h1>App Component Count {{counted}}</h1>
<app-inputoutput [count]="counted"> </app-inputoutput> -->

<!-- <app-employee>
    <h3>Hi Hello this the content send from app Component file</h3>
</app-employee>
<app-inputoutput> 

hi
</app-inputoutput> -->

<!-- <label>Name </label> <input type="text" name="un" [(ngModel)]="uname"/>
<label>Employee Name </label> <input type="text" name="empName" [(ngModel)]="empName"/>
<app-lifecycle [uName]="uname"></app-lifecycle> -->

<!-- <app-directive></app-directive> -->

<!--  -->

<!-- <app-pipes></app-pipes> -->

<app-employee-form></app-employee-form>

<br><br>
<app-employeelist></app-employeelist>